<h4 class="text-center"><b>User:</b><%= current_user.first_name.titleize + current_user.last_name.titleize %></h4>
<h4 class="text-center"><b>Account No:</b><%= current_user.account_no %></h4>
<h4 class="text-center"><b>Total Balance:</b><%= current_user.total_balance %></h4>
